<div class="panel panel-default">
  <div class="panel-heading">Equipos</div>
    <table class="table table-bordered table-hover table-condensed">
      <tr>
        <th>Nombre</th>
        <th>Jugadores</th>
        <th>DT</th>
        <th>Acciones</th>
      </tr>
      <% @equipos.each do |equipo| %>

      <tr>
        <td>
          <%= equipo.nombre %>
        </td>
        <td>
          <%= equipo.jugadores %>
        </td>
        <td>
          <%= equipo.dt %>
        </td>    
        <td>
          <%= link_to 'Editar', url_for(:equipo, :edit, :equipo_id => equipo.id), :class => "link" %>
        </td>
      </tr>

      <% end %>

    </table>
</div>

<ul class="pager">
  <li class="previous"><%= link_to 'Crear equipo', url_for(:equipo, :create, :torneo => @torneo.id), :class => "btn btn-primary" %></li>
</ul>