<% form_for(@equipo, "/equipo/create/#{@torneo.id}", :class => "form-horizontal") do |f| %> 

  <fieldset>
  <legend>Registrar nuevo equipo</legend>
    <div class="form-group">
      <%= f.label :nombre, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :nombre, :class => "col-lg-10 form-control", :required => "require" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :jugadores, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :jugadores, :class => "col-lg-10 form-control", :required => "require" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :dt, :class => "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :dt, :class => "col-lg-10 form-control", :required => "require" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Crear", :class => "btn btn-primary" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-10">
        <%= link_to 'Ver equipos', url_for(:equipo, :equipos, :torneo => @torneo.id), :class => "btn btn-primary" %>
      </div>
    </div>

  </fieldset>
<% end %>