<div class="panel panel-default">
  <div class="panel-heading">Torneos</div>
    <table id="tablaTorneos" class="table table-bordered table-hover table-condensed">
      <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Lugar</th>
        <th>Comentario</th>
        <th>Acciones</th>
      </tr>
      <% @torneos.each do |torneo| %>

      <tr>
        <td>
          <%= torneo.nombre %>
        </td>
        <td>
          <%= torneo.fecha %>
        </td>
        <td>
          <%= torneo.lugar %>
        </td>
        <td>
          <%= torneo.comentario %>
        </td>	
        <td>
          <div>
            <%= link_to 'Ver Equipos', url_for(:equipo, :equipos, :torneo  => torneo.id), :class => "link" %>
            <%= link_to 'Agregar Equipos', url_for(:equipo, :create, :torneo => torneo.id), :class => "link" %>
          </div>
          <div>
          <%= link_to 'Ver partidos', url_for(:partido, :partidos, :torneo => torneo.id), :class => "link" %>
          <%= link_to 'Generar partidos', url_for(:torneo, :generar_partidos, :torneo => torneo.id), :class => "link", :visible => "isVisible" %>
         </div>
        </td>
      </tr>

      <% end %>

    </table>
    
  </div>
  
  <a href="/registrar/torneo" class="btn btn-primary">Registrar Nuevo Torneo</a>
  
</div>
